<div class="row">
    <div class="col-md-6">
        <label class="form-label"
            for="username-id">
            Username
        </label>
        <input class="form-control"
            type="text" 
            id="username-id"
            [(ngModel)]="username">
        <p>{{username}}</p>
    </div>
    <div class="col-md-6">
        <button
            class="btn btn-warning"
            (click)="onReset()"
            [disabled]="!username">
            Clear username       
        </button>
    </div>    
</div>
