<h4>Inactive Users</h4>
<div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0" 
        *ngFor="let user of users; let i = index;">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{ user }}
                </p>
                <a href="#" class="card-link" (click)="setActive(i)">Set 'active'</a>
            </div>
        </div>
    </div>
    <div *ngIf="!users.length">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    No inactive users
                </p>                
            </div>
        </div>
    </div>
</div>