<div class="row">
    <div class="col-sm-12">
        <img class="img-fluid" style="max-height: 50px;" [src]="recipe.imagePath">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="dropdown" style="display: inline-block;" appDropdown>
            <button class="btn btn-secondary dropdown-toggle" type="button">
                Manage recipe
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['.']" (click)="onClickToShoppingList()">To shopping list</a></li>
                <li><a class="dropdown-item" [routerLink]="['edit']" >Edit recipe</a></li>
                <li><a class="dropdown-item" [routerLink]="['.']" >Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h5>Ingredients:</h5>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }}
                <span class="badge text-bg-primary rounded-pill">
                    {{ ingredient.amount }}
                </span>
            </li>
        </ul>
    </div>
</div>