<div class="row">
    <div class="col-sm-12">
        <img class="img-fluid" style="max-height: 50px;" [src]="recipe.imagePath">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="dropdown" style="display: inline-block;" appDropdown>
            <button class="btn btn-secondary dropdown-toggle" type="button">
              Manage recipe
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">To shopping list</a></li>
              <li><a class="dropdown-item" href="#">Edit recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete recipe</a></li>
            </ul>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingredients        
    </div>
</div>
