<div class="container" ngbAccordion>
    <div ngbAccordionItem>
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>Previous component</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <block-warning />
                <block-success />
                <username-input />
                <log-user-detail />
                <app-databinding />
            </div>
        </div>    
    </div>
    <div ngbAccordionItem [collapsed]="true">
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>Assignment 4</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>                
                <app-game-control (onTick)="onTick($event)"/>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let number of numbers">
                        <odd-number *ngIf="number % 2 != 0">
                            {{number}}
                        </odd-number> 
                        <even-number *ngIf="number % 2 == 0"> 
                            {{number}}
                        </even-number>
                    </li>                    
                </ul>
            </div>
        </div>    
    </div>
    <div ngbAccordionItem [collapsed]="false">       
        <h1 ngbAccordionHeader>
            <button ngbAccordionButton>Shopping</button>
        </h1>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>       
                <app-header (goToEvent)="showView($event)"/>         
                <app-recipes *ngIf="displayView === 'recipes'; else elseBlock1" />
                <ng-template #elseBlock1>1</ng-template>
                <app-shopping-list *ngIf="displayView === 'shopping-list'; else elseBlock2"/>
                <ng-template #elseBlock2>2</ng-template>
                <div>3</div>
            </div>
            <div>4</div>
        </div>        
    </div>
</div>
